<section class="cart py-16">
  
    <div class="order container mx-auto xl:w-1/2">
        <div class="flex items-center border-b border-gray-300 pb-4">
            <!-- <img src="/img/cart-black.png" alt=""> -->
            <h1 class="font-bold ml-4 text-2xl">Reviews</h1>
        </div>
        <div class="pizza-list overflow-auto" style="height: 40vh;">
                <% for(let i=0;i<reviews.length;i++) { %>
                    <div class="flex-1 ml-4 font-bold text-lg">
                        <h1><%= reviews[i].customerId.name %></h1>
                    </div>
                    <p><%= reviews[i].content %></p>
                    <p><%= reviews[i].createdAt.toString().split("T")[0] %></p>
                    <p><%= reviews[i].isNegative %></p>
                    <% if(user && user._id.toString() === reviews[i].customerId.toString()) { %>
                        <button id="del-review" onclick="deleteReview('<%= reviews[i]._id.toString() %>')" class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Delete</button>
                    <% } %>
                <% } %>
                  
        </div>
        <hr>
        <div class="text-right py-4">
            <% if(user) { %>
            <div>
                <form action="/reviews" method="POST" class="mt-12" id="review-form">
                    <input name="content" class="border border-gray-400 p-2 w-1/2" type="text" placeholder="Write your thoughts here...">
                    <div class="mt-4">
                        <div id="card-element"></div>
                        <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-6" type="submit">Post</button>
                    </div>
                </form>
            </div>
            <% } else { %>
                <a href="/login"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login
                to post review</a>
            <% } %>
        </div>
    </div>
  
</section>
<script>
    function deleteReview(reviewId) {
        console.log(reviewId)

        const data = { "reviewId": reviewId };

        fetch('del-review', {
        method: 'POST', // or 'PUT'
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(data => {
            window.open("/reviews", "_self")
        })
        .catch((error) => {
            console.error('Error:', error);
        });        
    }
</script>